# Ignore node_modules in both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore env files
backend/.env
frontend/.env

# Optional: Ignore OS-specific or editor files
.DS_Store
*.log
.env
